@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font: "Ubuntu", sans-serif;
}

button,
input,
textarea,
select {
    font-family: var(--font);
}
body {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    padding: 2%;
    font-family: var(--font);
}
.Toastify__toast-body {
    font-family: var(--font);
}

@media (max-width: 600px) {
    body {
        padding: 5%;
    }
}